name: Build and publish sdk package

on:
  push:
    branches:
      - "main"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup npm
        uses: actions/setup-node@v3
        with:
          node-version: "18.x"
          registry-url: "https://registry.npmjs.org"

      - name: Install dependencies
        run: npm -w "packages/sdk" ci

      - name: Set package version
        run: npm version -ws --commit-hooks=false --git-tag-version=false "$(grep version package.json | awk -F \" '{print $4}')-dev.$(git rev-parse --short HEAD)"

      - name: Build
        run: npm -w "packages/sdk" run build

      - name: Publish
        run: npm -w "packages/sdk" publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}